@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap");

.splitting {
  z-index: 5;
  margin: 2rem auto;
  box-sizing: border-box;
  border: 5px solid rgb(14, 28, 230);
  border-radius: 15px;
  padding: 0px 50px;
  background-color: white;
}

.splt__title {
  display: grid;
  place-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  font-weight: bolder;
}
.column1 {
  font-family: "Vollkorn", serif;
  font-size: 2rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  font-size: 1rem;
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.orOption{
    font-size: 1rem;
}
.input-control {
  position: relative;
  width: 80%;
  height: 3rem;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
}

.input-label {
  position: absolute;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  left: 1rem;
  top: 0.75rem;
  padding: 0 0.25rem;
  color: #80868b;
  background: #ffffff;
  transition: all 0.3s ease;
}

.input-field {
  position: absolute;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  z-index: 1;
  border: 2px solid #dadce0;
  outline: none;
  border-radius: 0.5rem;
  color: #121212;
  background: transparent;
  transition: all 0.3s ease;

  &::placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
  }

  // Label Floating when Focus
  &:focus {
    border: 2px solid #1a73e8;
    & + .input-label {
      font-size: 0.9rem;
      font-weight: 500;
      top: -0.75rem;
      left: 1rem;
      z-index: 5;
      color: #1a73e8;
    }
  }

  // Label Keep Floating when not Focus
  &:not(:placeholder-shown).input-field {
    &:not(:focus) {
      & + .input-label {
        font-size: 0.9rem;
        font-weight: 500;
        top: -0.75rem;
        left: 1rem;
        z-index: 5;
      }
    }
  }
}

.input-submit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: #ffffff;
  background: #1a73e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-transform: capitalize;
}

.splitBill_btn {
  border: none;
  outline: none;
  width: 40%;
  padding: 5px 0;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
  border-radius: 25px;
}

.result {
  font-size: 1.5rem;
  margin: 0.5rem;
  margin-bottom: 10px;
}

.column2 {
  font-family: "Vollkorn", serif;
}
