.heading {
  place-items: center;
  text-align: center;
}

.search {
  position: absolute;
  top: 13rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 20rem;
  right: 15rem;
  background: none;
  border: none;
  z-index: 10;
}

.locate img {
  width: 50px;
  cursor: pointer;
}
