@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap");

.Intro {
  position: relative;
}

.Intro h1 {
  font-family: "Dancing Script", cursive;
  margin: 0 0 10px 0;
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
  padding-left: 50px;
  padding-top: 180px;
}

.Intro p {
  font-family: "Vollkorn", serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 50vw;
  color: black;
  padding-right: 200px;
}

.img_split {
  z-index: 1;
  margin-top: 100px;
}



// .cards {
//   max-width: 1200px;
//   margin: 0 auto;
//   display: grid;
//   grid-gap: 1rem;
// }

// @media (min-width: 600px) {
//   .cards { grid-template-columns: repeat(2, 1fr); }
// }